<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="hmpg-bg-cont">
      <div class="hmpg-sec-1-cont text-center">
        <!-- <div class="hmpg-sec-1-small-hdr arvo-font font-size-12px">Hello Guest !</div> -->
        <!-- <div class="hmpg-sec-1-hdr arvo-font font-weight-600 font-size-24px">Welcome to</div> -->
        <div class="hmpg-logo">
          <img src="img/igrill-logo.png" alt="logo">
        </div>
      </div>
      <div class="hmpg-sec-2-cont">
        <div class="hmpg-sec-2-hdr font-weight-600 text-center font-size-20px">
          Home to fresh grilled meats<br>and veggies !
        </div>
        <div class="hmpg-sec-2-desc font-weight-400 text-center font-size-18px">
          check out our exciting menu
        </div>
        <div class="hmpg-sec-2-menu-btn text-center">
          <button class="button" ng-click="gotomenu()">
            View Menu
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>